@{
}

<h1>Våra böcker</h1>

<section id="odlankrokodil">
    <a asp-controller="Books" asp-action="Odlan"><img src="~/images/thumbnails/odlan.jpg" alt="Ödlans flykt" />
    </a>
    <h2>Ödlans flykt</h2>
    <p>
        Författare: Doriano Oregano<br />
        36 Sidor<br />
        En bok som berättar om den kvicka lilla ödlan som gömmer sig i mörka skrevor.
    </p>

    <a asp-controller="Books" asp-action="Krokodil">
    <img src="~/images/thumbnails/krokodil.jpg" alt="Krokodiler och andra djur" /></a>
    <h2>Krokodiler och andra djur</h2>
    <p>
        Författare: Lisa<br />
        48 Sidor<br />
        Bland ormar och krokodiler
    </p>
</section>

<section id="amfibietitta">
    <a asp-controller="Books" asp-action="Amfibie">
    <img src="~/images/thumbnails/amfibie.jpg" alt="Amfibie?? Jag???" /></a>
    <h2>Amfibie? Jag?</h2>
    <p>
        Författare: Nelson<br />
        123 Sidor<br />
        I kärret lever livet för grodor
    </p>

    <a asp-controller="Books" asp-action="Titta">
    <img src="~/images/thumbnails/titta.jpg" alt="Titta det växer" /></a>
    <h2>Titta det växer!</h2>
    <p>
        Författare: Erik<br />
        24 Sidor<br />
        Vardagen bland växter
    </p>
</section>