@{
}

<h1>Uppgifter att göra</h1>
<h2>Välj nedan vilken uppgift du ska göra och lämna in</h2>

<ul>
    <li><a asp-controller="Exam" asp-action="ExamOne">Uppgift 1</a></li>
    <li><a asp-controller="Exam" asp-action="ExamTwo">Uppgift 2</a></li>
    <li><a asp-controller="Exam" asp-action="ExamThree">Uppgift 3</a></li>
</ul>