@{
    Layout = "_CoordinatorLayout";
}

@model Errand

<h2>Rapportera brott</h2>
<p class="info">Du är inloggad som samordnare</p>

<p>Fyll i formuläret nedan, alla rutor markerade med stjärna (*) måste fyllas i</p>
<form method="post" asp-controller="Coordinator" asp-action="Validate">
    <div asp-validation-summary="All" class="error"></div>
    <p>
        <input type="hidden" name="isSubmitted" value="true" />
    </p>
    <p>
        <span class="label"><label asp-for="Place"></label></span><br />
        <input asp-for="Place" name="Place" /> *
        <span asp-validation-for="Place" class="error"></span>
    </p>
    <p>
        <span class="label"><label asp-for="TypeOfCrime"></label></span><br />
        <input asp-for="TypeOfCrime" name="TypeOfCrime" /> *
        <span asp-validation-for="TypeOfCrime" class="error"></span>
    </p>
    <p>
        <span class="label"><label asp-for="DateOfObservation"></label></span><br />
        <input asp-for="DateOfObservation" name="DateOfObservation" /> *
        <span asp-validation-for="DateOfObservation" class="error"></span>
    </p>
    <p>
        <span class="label"><label asp-for="InformerName"></label></span><br />
        <input asp-for="InformerName" name="InformerName" /> *
        <span asp-validation-for="InformerName" class="error"></span>
    </p>
    <p>
        <span class="label"><label asp-for="InformerPhone"></label></span><br />
        <input asp-for="InformerPhone" name="InformerPhone" /> *
        <span asp-validation-for="InformerPhone" class="error"></span>
    </p>
    <p>
        <span class="label"><label asp-for="Observation"><br /> (ex. namn på misstänkt person):</label></span><br />
        <textarea asp-for="Observation" rows="5" cols="16"></textarea>
    </p>
    <p>
        <input class="button" type="submit" value="Skicka in" />
    </p>
</form>