<h3>Inlämning och deadline</h3>

<p>
    Du måste ladda upp en fil (zip) som innehåller hela sajten på anvisad plats senast @Model
</p>

<h3>Betyg</h3>
<p>
    Betyget du kan få på uppgiften är Underkänd (U), Godkänd (G), Väl Godkänt (VG). Om du får
    betyget U så kan du få möjlighet att komplettera för G. Du kan dock inte komplettera upp till VG.
</p>