@{
}

<h2>H'r finns vi</h2>

<section id="adress">
    KNootens vokförlag<br />
    Granv 11<br />
    111 22 TallBacken <br />
    Tel: 123-456789
</section>

<figure id="kontakt">
    <img src="~/images/kontakt.gif" width="225"/>
</figure>