<h1>Välkommen till Knottens bokförlag!</h1>
<article id="stycke1">
    <img id="bokvagn" src="~/images/bokvagn.gif" width="250" height="229" alt="Tecknad bild på pojke som drar en vagn full med böcker" />
    <p>
        Ett nytt förlag för alla djur- och naturintresserade barn och föräldrar! Knottens bokförlag har som mål att inspirera barn
        och vuxna till att lära mer om djur och natur. Framtiden är våra barns och för att de ska ta ansvar för naturen och
        miljön är det är viktigt att prata med dem om djur och natur. Att läsa böcker är ett perfekt sätt att samtala med barnen
        kring dessa frågor. Vår senaste bok "Krokodiler och andra urdjur" handlar om riktigt gamla djur som många gånger är
        snällare än man kan tro.
    </p>
</article>
<article id="stycke2">
    <figure>
        <a asp-controller="Books" asp-action="Bocker"><img src="~/images/thumbnails/krokodil.jpg" width="200" height="149" alt="Bild på boken Krokodiler och andra urdjur" /></a>
    </figure>
    <div id="bokinfo">
        <h2>Krokodiler och andra urdjur</h2>
        <p>
            Förf: Lise Lyngeland<br /> Utgivn. år: 2009<br />
            <a asp-controller="Books" asp-action="Bocker">Läs mer ...</a>
        </p>
    </div>
</article>
<article id="stycke3">
    <h2>E-böcker</h2>
    <p>
        För att vara rädd om miljön tar Knottens bokförlag snart steget mot miljövänligare böcker. Inom kort ges den första e-boken
        ut. Inget papper, inget tryck och inga tunga transporter. Framtiden är här!
    </p>
</article>
<article>
    <h2>Tävling</h2>
    <p>
        Var med och tävla om en bok! Har du varit med om en spännande upplevelse ute i naturen? Skriv och berätta och skicka in den
        till oss. Senast den 6 augusti vill vi ha ditt svar. <a asp-controller="Home" asp-action="Kontakt">Vår adress hittar du här!</a>
    </p>
</article>