@{
  Layout = "_MainLayout";
}
<nav id="automationnav">
  <a href="Products">Products</a> |
  <a href="Services">Services</a> |
  <a href="Support">Support</a> |
  <a href="Team">The Team</a> |
</nav>
<main id="automation">
  @RenderBody()
</main>
<footer>The Automation Division Footer</footer>